{% extends 'base.html' %}

{% block contenido %}


<nav class="navbar navbar-expand navbar-dark bg-dark">
      <h1 class="text-light"> Geografia</h1>
      <a class="btn btn-light ml-auto mr-5" href="{% url 'menu'  %}">Inicio</a>
      
    </nav>

    <div class="col-md-4" style="margin-top: 1em">

		<iframe src="https://wanted5games.com/games/html5/world-trivia-new-en-s-iga-cloud/index.html?pub=10" name="cloudgames-com" width="437" height="575" frameborder="0" scrolling="no"></iframe>
    	
	</div>

{% endblock contenido %}
