{% extends 'base.html' %}

{% block contenido %}

<nav class="navbar navbar-expand navbar-dark bg-dark">
      {# <h1 class="text-light"> {{user.get_full_name}}</h1> #}
      <a class="btn btn-light ml-auto mr-5" href="{% url 'menu'  %}">Inicio</a>
      
    </nav>

    <div class="col-md-4" style="margin-top: 1em">
    	<iframe src="https://wanted5games.com/games/html5/chubby-birds-new-en-s-iga-cloud/index.html?pub=10" name="cloudgames-com" width="503" height="573" frameborder="0" scrolling="no"></iframe>
	</div>

{% endblock contenido %}
