{% extends 'base.html' %}

{% block contenido %}

<div class="container">
    
    <!-- <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: rgb(40, 167, 69);"> -->
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: dimgray;">
        <a class="navbar-brand" href="#">{{user.get_full_name}}</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="{% url 'InformacionUsuario' user.id %}">Ver perfil</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Salir</a>
                    </div>
                </li>
            <!-- </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        </div>
    </nav>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card text-black bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">
                    <a class="btn btn-success btn-lg btn-block" href="{% url 'JuegosEspanol' %}">
                        <h4>Español</h4>
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">Juegos sobre la materia de español</p>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card text-black bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">
                    <a class="btn btn-success btn-lg btn-block" href="{% url 'JuegosMatematicas' %}">
                        <h4>Matemáticas</h4>
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">Desarrollar la habilidad de pensamiento y lógica</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-black bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">
                    <a class="btn btn-success btn-lg btn-block" href="{% url 'JuegosCiencias' %}">
                        <h4>Ciencias naturales</h4>
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">Ayuda a evitar que los animales se extingan. Conoce más sobre flora, fauna y la tierra</p>
                </div>
            </div>
        </div>

    </div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  No le des click
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">😎</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="max-width: 384px;"><div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 75%;"><iframe src="//cdn.iframe.ly/8V59Txi" style="border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;" allowfullscreen></iframe></div></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        
      </div>
    </div>
  </div>
</div>


    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card text-black bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">
                    <a class="btn btn-success btn-lg btn-block" href="{% url 'JuegosHistoria' %}">
                        <h4>Historia</h4>
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">Una de las materias preferidas por muchos. Aprende y diviertete sobre lugares y fechas historicas</p>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card text-black bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">
                    <a class="btn btn-success btn-lg btn-block" href="{% url 'JuegosCivismo' %}">
                        <h4>Civismo</h4>
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">Conocer sobre valores y ética</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-black bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">
                    <a class="btn btn-success btn-lg btn-block" href="{% url 'JuegosGeografia' %}">
                        <h4>Geografía</h4>
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">Juego de trivia para saber sobre lugares</p>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
 $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})</script>

{% endblock contenido %}