{% extends 'base.html' %}

{% block contenido %}

<div class="container">
    
    <!-- <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: rgb(40, 167, 69);"> -->
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: dimgray;">
        <a class="navbar-brand" href="#">{{user.get_full_name}}</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="{% url 'InformacionUsuario' user.id %}">Ver perfil</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Salir</a>
                    </div>
                </li>
            <!-- </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        </div>
    </nav>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card text-black bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">
                    <a class="btn btn-success btn-lg btn-block" href="{% url 'JuegosEspanol' %}">
                        <h4>Español</h4>
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">Juegos sobre la materia de español</p>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card text-black bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">
                    <a class="btn btn-success btn-lg btn-block" href="{% url 'JuegosMatematicas' %}">
                        <h4>Matemáticas</h4>
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">Desarrollar la habilidad de pensamiento y lógica</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-black bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">
                    <a class="btn btn-success btn-lg btn-block" href="{% url 'JuegosCiencias' %}">
                        <h4>Ciencias naturales</h4>
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">Ayuda a evitar que los animales se extingan. Conoce más sobre flora, fauna y la tierra</p>
                </div>
            </div>
        </div>

    </div>


    

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card text-black bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">
                    <a class="btn btn-success btn-lg btn-block" href="{% url 'JuegosHistoria' %}">
                        <h4>Historia</h4>
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">Una de las materias preferidas por muchos. Aprende y diviertete sobre lugares y fechas historicas</p>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card text-black bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">
                    <a class="btn btn-success btn-lg btn-block" href="{% url 'JuegosCivismo' %}">
                        <h4>Civismo</h4>
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">Conocer sobre valores y ética</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-black bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">
                    <a class="btn btn-success btn-lg btn-block" href="{% url 'JuegosGeografia' %}">
                        <h4>Geografía</h4>
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">Juego de trivia para saber sobre lugares</p>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock contenido %}